<div class="banner-principal">

    <div class="imagem-banner-principal">
        <h2> Seja bem-vindo a maior academia da América Latina!</h2>
    </div>
</div>

<div class="sobre">
    <h2>SOBRE A ACADEMIA</h2>
    <hr>

    <div class="sobre-descricao">
    
    </div>
</div>
<div #planos class="planos">
    <div class="planos-titulo">
        <h2>PLANOS QUE CABEM NO SEU BOLSO</h2>
        <hr>
    </div>

    <div class="planos-grid">

        <div class="grid-3 grid-amarelo">
            <h2 class="grid-3-plano-titulo"> Plano Gold</h2>
            <hr>
            <div class="grid-3-plano-descricao">
                <h3> Acesso total a academia</h3>
                <h3> Por apenas:</h3>
                <div class="gd3-val inline">
                    <h2 class="gd3-valor-cifrao"> R$</h2>
                    <h3 class="gd3-valor-inteiro"> 230,</h3>
                    <h4 class="gd3-valor-decimal"> 00</h4>
                </div>

            </div>

        </div>
        <div class="grid-3">
            <h2 class="grid-3-plano-titulo"> Plano Gold</h2>
            <hr>
            <div class="grid-3-plano-descricao">
                <h3> Acesso total a academia</h3>
                <h3> Por apenas:</h3>
                <div class="gd3-val inline">
                    <h2 class="gd3-valor-cifrao"> R$</h2>
                    <h3 class="gd3-valor-inteiro"> 230,</h3>
                    <h4 class="gd3-valor-decimal"> 00</h4>
                </div>

            </div>
        </div>
        <div class="grid-3">

            <h2 class="grid-3-plano-titulo"> Plano Gold</h2>
            <hr>
            <div class="grid-3-plano-descricao">
                <h3> Acesso total a academia</h3>
                <h3> Por apenas:</h3>
                <div class="gd3-val inline">
                    <h2 class="gd3-valor-cifrao"> R$</h2>
                    <h3 class="gd3-valor-inteiro"> 230,</h3>
                    <h4 class="gd3-valor-decimal"> 00</h4>
                </div>

            </div>
        </div>

    </div>

    <div class = "banner-alunos inline">
        <div class="banner-alunos-grid"><h2> 1000<br><small>Alunos</small></h2></div>
        <div class="banner-alunos-grid"><h2> 50<br><small>Unidades</small></h2></div>
        <div class="banner-alunos-grid"><h2> 10<br><small>Estados</small></h2></div>
    </div>
</div>